{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="flex flex-col lg:flex-row rounded-lg overflow-hidden w-full min-h-screen items-stretch">
        <!-- Form Section -->
        <div class="w-full lg:w-1/2 p-8 sm:p-20 lg:p-40 flex flex-col justify-center my-auto">
            <h1 class="text-2xl font-bold mb-6">S'inscrire</h1>

            {% if form_errors(registrationForm) %}
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    {{ form_errors(registrationForm) }}
                </div>
            {% endif %}

            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    {{ flash_error }}
                </div>
            {% endfor %}

            {{ form_start(registrationForm, {'attr': {'class':'space-y-4'}}) }}

            <div class="space-y-1">
                {{ form_label(registrationForm.email, 'Adresse email *', {'label_attr': { 'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(registrationForm.email, {
                    'attr': {
                        'class': 'mt-1 block w-full border ' ~
                        (form_errors(registrationForm.email) ? 'border-red-500' : 'border-gray-300') ~
                        ' rounded-xl shadow-sm p-2 focus:ring-green-500 focus:border-green-500'
                    }
                }) }}
                {% if form_errors(registrationForm.email) %}
                    <div class="text-red-500 text-xs italic">
                        {{ form_errors(registrationForm.email) }}
                    </div>
                {% endif %}
            </div>

            <div class="space-y-1">
                {{ form_label(registrationForm.address, 'Adresse de livraison *', {'label_attr': { 'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(registrationForm.address, {
                    'attr': {
                        'class': 'mt-1 block w-full border ' ~
                        (form_errors(registrationForm.address) ? 'border-red-500' : 'border-gray-300') ~
                        ' rounded-xl shadow-sm p-2 focus:ring-green-500 focus:border-green-500'
                    }
                }) }}
                {% if form_errors(registrationForm.address) %}
                    <div class="text-red-500 text-xs italic">
                        {{ form_errors(registrationForm.address) }}
                    </div>
                {% endif %}
            </div>

            <div class="space-y-1">
                {{ form_label(registrationForm.plainPassword, 'Mot de passe *', {'label_attr': { 'class': 'block text-sm font-medium text-gray-700'}}) }}
                {{ form_widget(registrationForm.plainPassword, {
                    'attr': {
                        'class': 'mt-1 block w-full border ' ~
                        (form_errors(registrationForm.plainPassword) ? 'border-red-500' : 'border-gray-300') ~
                        ' rounded-xl shadow-sm p-2 focus:ring-green-500 focus:border-green-500'
                    }
                }) }}
                {% if form_errors(registrationForm.plainPassword) %}
                    <div class="text-red-500 text-xs italic">
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                {% endif %}
            </div>

            <div class="space-y-1">
                <div class="flex items-center">
                    {{ form_widget(registrationForm.agreeTerms, {
                        'attr': {
                            'class': 'h-4 w-4 text-green-600 focus:ring-green-500 border-gray-300 rounded ' ~
                            (form_errors(registrationForm.agreeTerms) ? 'border-red-500' : '')
                        }
                    }) }}
                    <label for="{{ registrationForm.agreeTerms.vars.id }}" class="ml-2 block text-sm text-gray-600">
                        J'accepte les <a href="#" class="text-green-500 underline">conditions générales</a>
                    </label>
                </div>
                {% if form_errors(registrationForm.agreeTerms) %}
                    <div class="text-red-500 text-xs italic">
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </div>
                {% endif %}
            </div>

            <button type="submit"
                    class="w-full bg-green-600 text-white font-medium py-2 rounded-md shadow-sm hover:bg-green-700">
                S'inscrire
            </button>

            {{ form_end(registrationForm) }}

            <div class="mt-6 flex items-center justify-center">
                <div class="border-t border-gray-300 w-full"></div>
                <span class="px-4 text-sm text-gray-500">ou</span>
                <div class="border-t border-gray-300 w-full"></div>
            </div>

            <div class="mt-4 flex justify-center space-x-4">
                <button class="flex items-center px-4 py-2 border rounded-md shadow-sm text-gray-700 font-medium hover:bg-gray-50">
                    <img src="https://img.icons8.com/color/24/google-logo.png" alt="Google Logo" class="mr-2">
                    Se connecter avec Google
                </button>
            </div>

            <p class="mt-6 text-sm text-center text-gray-600">
                Vous avez déjà un compte? <a href="{{ path('app_login') }}" class="text-green-500 underline">Connectez-vous</a>
            </p>
        </div>

        <!-- Image Section -->
        <div class="hidden lg:block w-1/2 h-screen">
            <img src="{{ asset('img/login/doubleChair.jpg') }}"
                 alt="Leaf"
                 class="w-full h-full object-cover rounded-r-xl transform scale-x-[-1]">
        </div>
    </div>
{% endblock %}
