{{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}

<div class="relative z-0 w-full mb-5 group">
    {{ form_widget(form.code, {'attr': {'class': 'peer block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 uppercase'}}) }}
    <label for="{{ form.code.vars.id }}"
           class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Code
        de réduction</label>
    {% if form_errors(form.code) %}
        <div class="text-red-500 text-xs italic">
            {{ form_errors(form.code) }}
        </div>
    {% endif %}
</div>

<div class="relative z-0 w-full mb-5 group">
    {{ form_widget(form.percentage, {'attr': {'class': 'peer block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600'}}) }}
    <label for="{{ form.percentage.vars.id }}"
           class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Pourcentage
        (%)</label>
    {% if form_errors(form.percentage) %}
        <div class="text-red-500 text-xs italic">
            {{ form_errors(form.percentage) }}
        </div>
    {% endif %}
</div>

<div class="relative z-0 w-full mb-5 group">
    {{ form_widget(form.validUntil, {'attr': {'class': 'peer block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600'}}) }}
    <label for="{{ form.validUntil.vars.id }}"
           class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Date
        d'expiration</label>
    {% if form_errors(form.validUntil) %}
        <div class="text-red-500 text-xs italic">
            {{ form_errors(form.validUntil) }}
        </div>
    {% endif %}
</div>

<div class="flex space-x-4 text-center">
    <a class="flex-1 bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300"
       href="{{ path('app_discount_code_index') }}">Retour</a>

    <button type="submit"
            class="flex-1 bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300">
        Valider
    </button>
</div>

{{ form_end(form) }}
