{% extends 'base.html.twig' %}

{% block title %}DiscountCode{% endblock %}

{% block body %}
    <h1>DiscountCode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ discount_code.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ discount_code.code }}</td>
            </tr>
            <tr>
                <th>Percentage</th>
                <td>{{ discount_code.percentage }}</td>
            </tr>
            <tr>
                <th>ValidUntil</th>
                <td>{{ discount_code.validUntil ? discount_code.validUntil|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_discount_code_index') }}">back to list</a>

    <a href="{{ path('app_discount_code_edit', {'id': discount_code.id}) }}">edit</a>

    {{ include('discount_code/_delete_form.html.twig') }}
{% endblock %}
