{% extends 'base.html.twig' %}

{% block title %}Ma Wishlist{% endblock %}

{% block body %}
    <div class="container mx-auto my-10 px-10">
        <h1 class="text-3xl font-bold mb-6 mt-6 py-12 text-center">Ma liste de souhaits</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
            {% if products|length > 0 %}
                {% for product in products %}
                    <div class="bg-white p-4 rounded-lg shadow-md relative">
                        {% if product.image %}
                            <img src="{{ product.image }}" alt="{{ product.name }}" class="w-full h-40 object-cover rounded-md">
                        {% else %}
                            <img src="" alt="Image indisponible" class="w-full h-40 object-cover rounded-md">
                        {% endif %}
                        <h3 class="text-gray-800 font-bold mt-2">{{ product.name }}</h3>
                        <p class="text-gray-600">{{ product.price }} €</p>

                        <!-- Remove to wishlist -->
                        <form action="{{ path('wishlist_remove', { id: product.id, page: currentPage }) }}" method="POST" class="absolute top-4 right-4">
                            <input type="hidden" name="_token" value="{{ csrf_token('remove_wishlist' ~ product.id) }}">
                            <button type="submit">
                                <svg class="h-6 w-6 cursor-pointer" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ff0000"><path d="M4.79501 5C4.62688 5.13993 4.46746 5.29304 4.31803 5.45838C3.90017 5.92074 3.56869 6.46964 3.34255 7.07374C3.1164 7.67785 3 8.32532 3 8.9792C3 9.63308 3.1164 10.2806 3.34255 10.8847C3.56869 11.4888 3.90017 12.0377 4.31803 12.5L10.5162 19.3582C11.3103 20.2368 12.6897 20.2368 13.4838 19.3582L16.1691 16.3869" stroke="#ff0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 3L19 19" stroke="#ff0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9.22217 4.37901C9.76813 4.62924 10.2642 4.99601 10.6821 5.45837V5.45837C11.3874 6.23883 12.6127 6.23883 13.3181 5.45837V5.45837C14.162 4.52459 15.3066 4 16.5001 4C17.6935 4 18.8381 4.52459 19.682 5.45837C20.526 6.39215 21.0001 7.65863 21.0001 8.97919C21.0001 10.2998 20.526 11.5662 19.682 12.5L18.7783 13.5" stroke="#ff0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                            </button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-gray-500">Votre wishlist est vide.</p>
            {% endif %}
        </div>

        <!-- Pagination -->
        <div class="flex justify-center mt-6">
            <div class="flex items-center space-x-2">
                {% if currentPage > 1 %}
                    <a href="{{ path('wishlist', { page: currentPage - 1 }) }}" class="px-4 py-2 bg-gray-200 hover:bg-gray-400 rounded-md flex items-center justify-center">
                        <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#000000">
                            <path d="M15 6L9 12L15 18M15 12H15.01" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                {% endif %}

                {% for i in 1..totalPages %}
                    {% if totalPages != 1 %}
                        <a href="{{ path('wishlist', { page: i }) }}" class="px-4 py-2 {{ i == currentPage ? 'bg-black text-white' : 'bg-gray-200 hover:bg-gray-400' }} rounded-md flex items-center justify-center">
                            {{ i }}
                        </a>
                    {% endif %}
                {% endfor %}

                {% if currentPage < totalPages %}
                    <a href="{{ path('wishlist', { page: currentPage + 1 }) }}" class="px-4 py-2 bg-gray-200 hover:bg-gray-400 rounded-md flex items-center justify-center">
                        <svg class="h-6 w-6 text-gray-600" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 6L15 12L9 18M9 12H9.01" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
