{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Toutes les nouveautés</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        {% for product in products %}
            <div class="bg-white p-4 rounded-lg shadow-md">
                {% if product.imageProducts|length > 0 %}
                    <img src="{{ product.imageProducts|first.url }}" alt="{{ product.name }}" class="w-full h-40 object-cover rounded-md">
                {% else %}
                    <img src="" alt="No image available" class="w-full h-40 object-cover rounded-md">
                {% endif %}
                <h3 class="text-gray-800 font-bold mt-4">{{ product.name }}</h3>
                <h2 class="text-gray-800 font-bold mt-4">{{ product.description }}</h2>
                <p class="text-gray-600">{{ product.price }} €</p>
            </div>
        {% else %}
            <p class="text-center text-gray-500">Pas de produits trouvés</p>
        {% endfor %}
    </div>

    <a href="{{ path('app_home') }}" class="inline-block mt-4 px-4 py-2 bg-black text-white rounded-lg hover:bg-gray-700">
        Retour
    </a>
{% endblock %}
