<div class="p-4 overflow-y-auto w-full fixed-height">
    <p><strong>Date :</strong> {{ order.createdAt|date("d/m/Y") }}</p>
    <p><strong>Montant total :</strong> {{ order.totalPrice }} €</p>
    <p><strong>Statut :</strong> {{ order.status.name }}</p>
    <p><strong>Articles :</strong></p>
    <ul class="ml-4">
        {% for item in order.orderItems %}
            <li>- {{ item.product.name }} ({{ item.quantity }})</li>
        {% endfor %}
    </ul>
</div>

<style>
    .fixed-height {
        max-height: 212px;
        overflow-y: auto;
    }
</style>